body {
  /* background-color: #89d1c2; */
  background-color: rgba(45, 48, 255, 0.719);
  font-family: Verdana, sans-serif;
    font-size: 12px;
    font-weight: 20;
    line-height: 1em;
}

h1 {
  float: center;
  font-size: 28px;
    font-weight: 200;
    /* line-height: 1em; */
  color: #F8951B;
  margin-left: 100px;
  margin-top: -60px;

}
input::placeholder{
  opacity: .5;
  font-size: 15px;
  text-align: left; 
  /* text-align: left; */
}
#row {
  content: "\a";
    
  padding: 10px 0;
}
#rcorners1 {
  /* border-radius: 25px;
  background: #73AD21;
  padding: 20px;
  width: 200px;
  height: 150px;
  text-align: center;
  background-color:aliceblue; 
  width:300px; 
  height:500px; 
  position:relative; 
  top:100px; 
  left:600px; 
  z-index:2; 
  white-space: pre-line;  */



  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.493), 0 20px 30px 0 rgba(0, 0, 0, 0.863);

  /* background-color: #eceef1; */
  background-color: white;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  width: 340px;
  padding:20px 27px;
  padding-top: 100px;
  position: relative;
  /* position: center; */
  /* left: 270px; *
  /* left: 30%; */
  left: 38%;
  top : 150px;
}
/* #loginLogo{
  margin-left: auto;
  margin-right: auto;
  margin: 4px auto 10px auto;
  padding: 600px;
  padding-top: 5px;
  left: 20px;
  overflow: hidden;
  position: relative;
} */
#p{
  text-align: center;
  margin: 0 auto 10px 0;
  padding: 5px;
  color: #7a8ca5;
  font-size: 13px;
  height:50%;
}
#logo{

  /* display: block; */
  /* background: url(../images/logo.png) no-repeat; */
  display: block;
  background: url(../images/logo.png) no-repeat;
  text-indent: -999em;
  float: right;
  height: 100px;
  width: 59%;
  border: 0px;
  /* text-indent: -999em;
  float: right;
  margin: 0px 0px 10px;

  /* left */
  /*
  height: 100px;
  width: 59%;
  
  border: 0px; */


/* ------------------------------------- */
  /* text-indent: -999em; */
  /* float: right; */
  /* height: 109px; */
  /* width: 855px; */
  /* width: 50%; */
  /* ----------------------- */
  /* align-items: center; */
/* ------------------ */
  /* border: 0px; */
/* -------------------- */

  /* float: right;
  margin-left: 200px;
  margin-right: auto; */
    /* width: 850px;
    height: 600px; */
    /* background: url(../images/cas-logo.png) no-repeat; */
    /* text-indent: -999em; */
}
.center {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}
/* button[type=submit] {
  background-color: #f8971d !important;
  background-color: lightgreen;
    border-color: #a55f1f !important;
    border: 0;
    padding: 10px 20px;
    font-weight: bold;
    color:black;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
} */
input[type=submit] {
  border: 2px solid red;
  border-radius: 4px;
}
button[type=submit] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-style: hidden;
  border-bottom: 2px solid lightgreen;
}

button[type=submit]:focus{
  width: 100%;
 padding: 12px 20px;
 margin: 8px 0;
 box-sizing: border-box;
 border: none;
 border-style: hidden;
 border-bottom: 2px solid lightgreen;  
}
#login_input_name[type=text], #login_input_password[type=password] {
  width: 100%;
  padding: 18px 5px;
  margin: 10px 0;
  box-sizing: border-box;
  border: none;
  background-color:#dde3ec;
  /* color: white; */
 
}
#msg{
  color: red;
}
#longinAcsessChangingLinks{
  /* text-align: left;
  align-content: left;
  align-items: left;
  align-self: left; */
  /* left:-100px; */
  /* text-align-last: right; */
  /* text-align-last: left; */
  color: cornflowerblue;
  float : right
}
#labelProp{
/* text-align: center; */
left:20px;
opacity: .5;
}